<strong>I am ./themes/austin/node.html.twig</strong>

<h2><code>{% verbatim %}{{ title }}{% endverbatim %}:</code> {{ title }}</h2>

{% if subtitle is defined %}
<h2><code>{% verbatim %}{{ subtitle }}{% endverbatim %}:</code> {{ subtitle }}</h2>
{% endif %}
