<h3><code>{% verbatim %}{{ title }}{% endverbatim %}:</code> {{ title }}</h3>

{% if subtitle is defined %}
<h3><code>{% verbatim %}{{ subtitle }}{% endverbatim %}:</code> {{ subtitle }}</h3>
{% endif %}
